
// vendor imports 

@import 'vendor/reset';

// module imports 
@import 'modules/variables';
@import 'modules/typography';
@import 'modules/responsiveness';
 
// components imports

@import 'components/header';
@import 'components/main-section';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $theme-color-two;
  background-size: 100%;
}


